.x-brand {
    margin-top: 22px;
    font-family: "Lato",sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.035em;
    color: #272727;
    margin-bottom: 22px;
    img{
    	opacity:1.0;
    }
}

.x-navbar{
    background: rgb(104,104,104); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(104,104,104,1) 37%, rgba(21,21,21,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(104,104,104,1) 37%,rgba(21,21,21,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(104,104,104,1) 37%,rgba(21,21,21,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#686868', endColorstr='#151515',GradientType=0 ); /* IE6-9 */
}

.work_together_cta{
    display: inline-block;
    color:$white;
    background-color: $red;
    padding: 0.25em 1.0em;
    float: right;
    text-align: center;
    text-transform: uppercase;
    margin-top:18px;
    border-radius: 0.25em;
    font-size: 1.25em;

}

.x-navbar .desktop .x-nav > li > a:not(.x-btn-navbar-woocommerce) {
    padding-left: 10px!important;
    padding-right: 10px!important;
}

.x-nav-wrap{
    @include clearfix;
    float: right;
}