.x-navbar .desktop .x-nav > li > a:hover, .x-navbar .desktop .x-nav > .x-active > a, .x-navbar .desktop .x-nav > .current-menu-item > a, .x-navbar .desktop .sub-menu a:hover, .x-navbar .desktop .sub-menu .x-active > a, .x-navbar .desktop .sub-menu .current-menu-item > a, .x-navbar .desktop .x-nav .x-megamenu > .sub-menu > li > a, .x-navbar .mobile .x-nav li > a:hover, .x-navbar .mobile .x-nav .x-active > a, .x-navbar .mobile .x-nav .current-menu-item > a {
    color: $red!important;
}

.x-topbar .p-info, .x-topbar .p-info a, .x-navbar .desktop .x-nav > li > a, .x-navbar .desktop .sub-menu a, .x-navbar .mobile .x-nav li > a, .x-breadcrumb-wrap a, .x-breadcrumbs .delimiter {
    color: $white!important;
}

.x-navbar .desktop .x-nav > li > a {
	height: 60px!important;
	padding-top: 20px!important;
}

.x-navbar .desktop .x-nav > li > a:hover, .x-navbar .desktop .x-nav > .x-active > a, .x-navbar .desktop .x-nav > .current-menu-item > a {
    box-shadow: inset 0 0 0 0 transparent!important;
}

.masthead-inline .desktop .x-nav {
    display: block;
    float: right;
    clear: right;
}

.x-navbar .x-nav-wrap .x-nav > li > a {
    font-family: $main-body!important;
    font-style: italic!important;
    font-weight: 600!important;
    letter-spacing: 0.085em;
    font-size: 1.75em!important;
    text-transform: uppercase;
}
