h1{
 font-family: $main-header;
 font-weight: 800!important;
 text-transform: uppercase;
 font-style: italic!important;
}
h2{
 font-family: $main-header;	
 font-weight: 800!important;
 text-transform: uppercase;
 font-style: italic!important;
 color:$red!important;
}
p{
 font-family: $main-body;
}